# Source the dynamic IP from the .env file if it exists
if [ -f "$(dirname "$0")/../.env" ]; then
  source "$(dirname "$0")/../.env"
fi

ISO_NAME="IDM_1.0.0.alpha.612.iso"
ISO_DEST_PATH="./utils/$ISO_NAME"

# Device Under Test (DUT)
export DUT_ADDRESS=$IDM_SYSTEM # demo system

# URL to OpenAPI spec of IDM
export OPENAPI_FILE_NAME="openapi.yaml"
export DUT_OPENAPI_V0_URL="https://$DUT_ADDRESS/resources/v0/$OPENAPI_FILE_NAME"
export DUT_OPENAPI_V1_URL="https://$DUT_ADDRESS/resources/v1/$OPENAPI_FILE_NAME"

# URL to AsyncAPI spec of IDM
export ASYNCAPI_FILE_NAME="events.yaml"
export DUT_ASYNCAPI_V0_URL="https://$DUT_ADDRESS/resources/v0/$ASYNCAPI_FILE_NAME"
export DUT_ASYNCAPI_V1_URL="https://$DUT_ADDRESS/resources/v1/$ASYNCAPI_FILE_NAME"
