# Device Under Test (DUT)
export DUT_ADDRESS=${IDM_SYSTEM:-"192.168.3.182"} # demo system

# URL to OpenAPI spec of IDM
export OPENAPI_FILE_NAME="openapi.yaml"
export DUT_OPENAPI_V0_URL="https://$DUT_ADDRESS/resources/v0/$OPENAPI_FILE_NAME"
export DUT_OPENAPI_V1_URL="https://$DUT_ADDRESS/resources/v1/$OPENAPI_FILE_NAME"

# URL to AsyncAPI spec of IDM
export ASYNCAPI_FILE_NAME="events.yaml"
export DUT_ASYNCAPI_V0_URL="https://$DUT_ADDRESS/resources/v0/$ASYNCAPI_FILE_NAME"
export DUT_ASYNCAPI_V1_URL="https://$DUT_ADDRESS/resources/v1/$ASYNCAPI_FILE_NAME"
